/* ---------
   reset 
---------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------
   head 
---------*/

.navbar, .nav-left, .nav-right {
    display: flex;
}

.navbar {
    justify-content: space-between;
    background-color: #000;
    padding: 5px 0;
    height: 30px;
}

.nav-left div, .nav-right {
    display: flex;
    gap: 15px;
}

.shield-icon {
    color: #67d669;
    margin-right: 25px;
}

.icons {
    color: #fff;
}

/* ---------
   main 
---------*/

body {
    background-color: #000;
}

main {
    height: calc(100vh - 90px);
    display: flex;
}

.main-container {
    max-width: 1640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.user-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 6 - 20px);
    height: 150px;
    background-color: #242424;
    border-radius: 10px;
}

.icon-user-first, .middle-username, .user-name {
    display: flex;
    padding: 10px;
    gap: 5px;
}

.icon-user-first {
    justify-content: flex-end;
}

.middle-username {
    justify-content: center;
    font-size: 25px;
    color: #fff;
}

.user-name {
    justify-content: flex-start;
    color: #fff;
}

.user-name i {
    color: #cc3c33;
}

.write1, .write2, .mic-plus-name {
    border-radius: 5px;
    font-size: 14px;
}
.write1, .write2 {
    background-color: #3370e5;
    color: #fff;
    padding: 5px;
}

.mic-plus-name {
    background-color: #1f1f1f;
}

.user-speaker {
    border: 2px solid #76da6c;
}

/* ---------
  footer 
---------*/

footer {
    background-color: #1f1f1f;
    color: #a8a8a8;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
}

.footer-container > * {
    margin: 0 20px;
}

.col-left, .col-middle, .col-right {
    width: calc(100% / 3);
    display: flex;
    text-align: center;
    gap: 20px;
}

.col-middle {
    justify-content: center;
}

.col-right {
    justify-content: flex-end;
}

.col-left div, .col-middle div, .col-right div {
    margin: 5px 0;
}

.arrow {
    display: flex;
    align-items: center;
}

.display-icon {
    color: #67d669;
}

.btn {
    padding: 7px 20px;
    background-color: #a8352e;
    color: #fff;
    border: none;
    border-radius: 10px;
}